@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner">
    <div class="banner-content">
        <h1>Voidance</h1>
        <p>Your gateway to the underground  &#x1F680;</p>
    </div>
</div>
<div class="text-left">
    <h5>Upcoming raves</h5>
</div>
