@page
@model IndexModel
@{
    Layout = "_Layout";
}

@section Banner {
    <div class="indexbanner banner">
        <div class="banner-content">
            <h1>Voidance</h1>
            <p>Your gateway to the underground  &#x1F680;</p>
        </div>
    </div>
}

<h2 class="m-3">Upcoming Raves</h2>

<div class="rave-grid m-3">
    @foreach (var rave in Model.LatestRaves)
    {
        <div class="rave-card">
            @if (rave.Image != null)
            {
                var base64Image = Convert.ToBase64String(rave.Image);
                <img src="data:image/jpeg;base64,@base64Image" alt="@rave.Name" class="rave-image" />
            }
            else
            {
                <div class="no-image">No Image</div>
            }

            <h3>@rave.Name</h3>
            <p>@rave.Date.ToString("dd MMM yyyy")</p>
            <p>@rave.Location</p>
        </div>
    }
</div>

<style>
   
</style>
