@page "{id:int}"
@model FestivalApp.Pages.RaveDetailModel
@{
    ViewData["Title"] = Model.Rave.Name;
    var rave = Model.Rave;
}

<div class="rave-detail-container">
    <div class="rave-detail-info d-flex gap-3">
        <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
            <button class="btn btn-outline-danger">❤ Wishlist</button>
            <button class="btn btn-outline-success">✔ Attending</button>
        </div>
        @if (rave.Image != null)
        {
            var base64Image = Convert.ToBase64String(rave.Image);
            <img src="data:image/jpeg;base64,@base64Image" alt="@rave.Name" class="rave-detail-image" />
        }
        else
        {
            <div class="rave-detail-placeholder">No Image Available</div>
        }

        <div class="rave-detail-info">
            <p><strong>Date:</strong> @rave.Date.ToString("dddd dd MMMM yyyy")</p>
            <p><strong>Location:</strong> @rave.Location</p>
            <p><strong>Description:</strong> @rave.Description</p>
        </div>
    </div>
</div> 