@page
@model FestivalApp.Pages.AdminPages.AddArtistModel
@{
    <h2>Add Artist</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Artist.Id" />

        <label>Name:</label>
        <input asp-for="Artist.Name" class="form-control" />

        <label>Nationality:</label>
        <input asp-for="Artist.Nationality" class="form-control" />

        <label>Genre:</label>
        <input asp-for="Artist.Genre" class="form-control" />

        <label>Description:</label>
        <textarea asp-for="Artist.Description" class="form-control"></textarea>

        <label>Upload Image:</label>
        <input type="file" name="uploadedImage" class="form-control" />

        <button type="submit">Save</button>
    </form>

}
