@page
@model FestivalApp.Pages.AccountPages.AddRecapModel
@{

    <h2>Add Recap</h2>

    <form method="post" enctype="multipart/form-data">

        <label>Rave:</label>
        <input asp-for="Recap.Rave" class="form-control" list="rave-suggestions" />

        <datalist id="rave-suggestions">
            @foreach (var rave in Model.AttendingRaves)
            {
                <option value="@rave.Name" />
            }
        </datalist>

        <label>Description:*</label>
        <input asp-for="Recap.Description" class="form-control" />


        <label>Upload Images (max 5):</label>
        <input type="file" name="Photos" multiple class="form-control" />
        <button type="submit">Save</button>
    </form>

}